<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<!-- <center> -->
    <h1>Get yourself register here</h1>
<form>
    <div class="container">
        <div class="row justify-content-center"> 

    <div class="input-group mb-3 col">
        <span class="input-group-text" id="name">Name</span>
        <input type="text" class="form-control" placeholder="Name" aria-label="name">
      </div>
      
      <div class="input-group mb-3 ">
        <span class="input-group-text" id="email">Email</span>
        <input type="email" class="form-control" placeholder="Email" aria-label="email">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="password">Password</span>
        <input type="password" class="form-control" placeholder=Password" aria-label="password">
      </div>

      <div class="input-group mb-3">
        <input type="submit" class="form-control">
      </div>
    </div>
    </div>
</form>
</center>

</body>
</html>